<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Page</title>
</head>
<body>
    <h1>Steps to Create a Simple Web Page with Flask:    </h1>
        <h2>Install Flask:</h2>
            <ul>
                <li>Open a terminal or command prompt.</li>
                <li>Install Flask using the following command: <xmp>pip install Flask </xmp></li>
            </ul>
        <h2>Create Your Flask App:</h2>
            <ul>
                <li>Create a new file, for example, 'a.py'.</li>
                <li>Open 'a.py' and write the following code:</li>
            </ul>
        <h2>Create the HTML Template:</h2>
        <li>Create a folder named 'templates' in the same directory as your 'a.py'.</li>
        <li>Inside the templates folder, create a file named 'index.html'.   </li>
        <li>Open 'index.html' and write a simple HTML structure:</li>    
            <xmp>
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    </head>
    <body>
    <h1>Hello, World!</h1>
    </body>
    </html>
            </xmp>    
    <h2>Run your Flask App:</h2>
    <ul><li>In the terminal, run the Flask app with the following command:<xmp>python a.py</xmp>
    </li>
    <li>Open your web browser and go to http://127.0.0.1:5000/. You should see your simple web page.
    </li>
</ul>
    <h1>Difficulties and Solution</h1>
    <h2>Host Configuration:</h2>
    <ul><li>When deploying to a hosting service like DigitalOcean,  have to follow another documentation to configure the environment and set up server.</li></ul>
</body>
</html>